.background {
    position: fixed;
    height: 95vh;
    left: 28%;
    width: 100vh;
    bottom: 5%;
    background-image: url('../media/ds_black.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    position: fixed;
    left: 40%;
    right: 40%;
    bottom: 1vw;
    font-size: 0.8vw;
    text-align: center;
    color: white;
}

.gameScreen {
    position: absolute;
    background-color: blueviolet;
    top: 8.7%;
    left: 25.1%;
    right: 34.3%;
    bottom: 59.5%;
}

.name {
    position: fixed;
    font-family: 'Press Start 2P', cursive;
    writing-mode: vertical-lr;
    transform:rotate(-180deg);
    font-size: 9vh;
    text-align: right;
    right: 71%;
}

.text {
    text-decoration: none !important;
    color: crimson;
}

.text:hover {
    color: crimson;
}

.text:active {
    color: blueviolet;
}

.plotScreen {
    position: absolute;
    background-color: blueviolet;
    top: 58.1%;
    left: 25.1%;
    right: 34.3%;
    bottom: 10%;
}