.background {
    position: fixed;
    height: 95vh;
    left: 25%;
    width: 100vh;
    bottom: 5%;
    background-image: url('../media/2ds_black.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    position: fixed;
    left: 40%;
    right: 40%;
    bottom: 1vw;
    font-size: 1.2vh;
    text-align: center;
    color: white;
}

.gameScreen {
    position: absolute;
    top: 5.4%;
    left: 16.7%;
    right: 22.7%;
    bottom: 56.4%;
}

.name {
    position: fixed;
    font-family: 'Press Start 2P', cursive;
    writing-mode: vertical-lr;
    transform:rotate(-180deg);
    font-size: 9vh;
    text-align: right;
    right: 74%;
}

.text {
    text-decoration: none !important;
    color: crimson;
}

.text:hover {
    color: crimson;
}

.text:active {
    color: blueviolet;
}

.plotScreen {
    position: absolute;
    background-color: blueviolet;
    top: 56.5%;
    left: 22.4%;
    right: 28.5%;
    bottom: 4.8%;
}