.container {
    position: fixed;
    width: 100%;
    height: 100%;
}

.name {
    font-family: 'Press Start 2P', cursive;
    writing-mode: vertical-lr;
    transform:rotate(-180deg);
    /* background-color: blue; */
    font-size: 10vh;
    /* right: 10%; */
    left: 15%;
    top: 10%;
    bottom: 10%;
    width: 10%;
    position: absolute;
}

.background {
    position: absolute;
    /* background-color: blueviolet;   */
    height: 100%;
    width: 60%;
    right: 10%;
    background-image: url('../media/2ds.png');
    background-repeat: no-repeat;
    background-size: contain;
}
