.background {
    position: fixed;
    height: 100vw;
    top: 8.5vw;
    left: 10%;
    right: 10%;
    background-image: url('../media/switch_black.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: black;
}

.footer {
    position: fixed;
    left: 40%;
    right: 40%;
    bottom: 1vw;
    font-size: 0.8vw;
    text-align: center;
    color: white;
}

.grid {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 15%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 30% 30%;
    column-gap: 20%;
    row-gap: 30%;
}

.mode {
    word-spacing: 1000px;
    font-size: 1.8vw;
}

.mode::first-letter {
    font-size: 140%;
}

.name {
    position: fixed;
    left: 15%;
    right: 10%;
    font-size: 5vw;
    font-family: 'Press Start 2P', cursive;
}

.smallsquare {
    background-color: white;
    background-size: contain;
    width: 10vw;
    height: 10vw;
    justify-self: center;
    border-radius: 20px;
    opacity: 0.8;
    backdrop-filter: blur(4px);
    cursor: pointer;
    place-self: center;
    z-index: 100;
}

.smallsquare:active {
    width: 9.5vw;
    height: 9.5vw;
}

.screen {
    position: absolute;
    top: 5.5%;
    left: 21.1%;
    right: 21.1%;
    bottom: 68.6%;
    background-size: cover;
}

.square {
    width: 14vw;
    height: 14vw;
    background-size: contain;
    border-radius: 20px;
}

.swiper {
    position: absolute;
}

.swiperContainer {
    top: 15%;
}

.text {
    text-decoration: none;
    color: crimson;
}

.text:active {
    color: blueviolet;
}