.background {
    position: fixed;
    height: 100vw;
    left: 10%;
    right: 10%;
    background-image: url('../media/switch.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 2.5%;
    bottom: 5%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 30% 30%;
    column-gap: 20%;
    row-gap: 25%;
    /* background-color: beige; */
}

.name {
    font-size: 4vw;
    font-family: 'Press Start 2P', cursive;
}

.smallsquare {
    background-color: aquamarine;
    width: 10vw;
    height: 10vw;
    justify-self: center;
}

.screen {
    position: absolute;
    background-color: blueviolet;
    top: 6%;
    left: 22%;
    right: 22%;
    bottom: 69%;
}

.square {
    background-color: aqua;
    width: 16vw;
    height: 16vw;
}

.swiper {
    position: absolute;
}

