.background {
    position: fixed;
    height: 95vh;
    left: 29%;
    width: 100vh;
    bottom: 5%;
    background-image: url('../media/3ds_black.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    position: fixed;
    left: 40%;
    right: 40%;
    bottom: 1vw;
    font-size: 0.8vw;
    text-align: center;
    color: white;
}

.gameScreen {
    position: absolute;
    top: 8.3%;
    left: 15%;
    right: 27%;
    bottom: 55.2%;
    background-color: blueviolet;
}

.name {
    position: fixed;
    font-family: 'Press Start 2P', cursive;
    writing-mode: vertical-lr;
    transform:rotate(-180deg);
    font-size: 9vh;
    text-align: right;
    right: 70%;
}

.text {
    text-decoration: none;
    color: crimson;
}

.text:active {
    color: blueviolet;
}

.plotScreen {
    position: absolute;
    background-color: blueviolet;
    top: 55.7%;
    left: 20.8%;
    right: 32.6%;
    bottom: 7.6%;
}